
<%= form_for(author) do |form| %>
	<div class="field">
		<%= form.label :author_name %>
		<%= form.text_field :author_name %>
	</div>
	<div class="field">
		<%= form.label :year_of_birth %>
		<%= form.text_field :year_of_birth %>
	</div>
	<div class="field">
		<%= form.label :birthplace %>
		<%= form.text_field :birthplace %>
	</div>
	<div class="field">
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>
	<div class="field">
		<%= form.label :slug %>
		<%= form.text_field :slug %>
	</div>
	<div>
		<%= form.submit %>
	</div>

<% end %>